@import url("https://fonts.googleapis.com/css?family=Acme|Hind+Siliguri|Raleway|Padauk|Rammetto+One");


button,a {
  outline:0 none !important;
}
button:hover, a:hover{
  cursor: pointer;
}

.dark_block{
  background: rgba(0,0,0,0.7);
  color: #0489b1;
  box-shadow: inset 2px -1px 24px 5px rgba(0,0,0,0.75);

}

.scrolling::-webkit-scrollbar{
  width: 8px;

}

.scrolling::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  opacity: 0;
  border-radius: 100px;

}
.scrolling::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #8a71a7;
  border-radius: 100px;
}


.scrollingtext::-webkit-scrollbar{
  width: 8px;

}

.scrollingtext::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  opacity: 0;
  border-radius: 100px;

}
.scrollingtext::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: transparent;
  border-radius: 100px;
}



#content {


  display: flex;


}

.dark_block{
  font-family: Raleway;
}

#left{
  width: 300px;
  margin: 40px;
 height: 560px;
}




