<div id="contacts" class="dark_block">
  <div class="name_of_block"><span>Contacts</span></div>
  <div class="serach"><input class="vhod-input" placeholder="Search..."/><button id="searchbtn"><img  ng-src="../../images/poisk.png"/></button></div>
  <div id="friends_list" class="friends scrolling">
    <!--возможно здесь нужен список??-->
    <div class="friend"> <p class="plus">+</p>  <img class="icons" ng-src="../../images/profile_foto.jpg"/><div>Mila Yovovich</div><div class="new_message_icon">+1</div></div>
    <div class="friend"> <p class="plus">+</p>  <img class="icons" ng-src="../../images/profile_foto.jpg"/><div>Mila Yovovich</div><div class="new_message_icon">+1</div></div>
    <div class="friend"> <p class="plus">+</p>  <img class="icons" ng-src="../../images/profile_foto.jpg"/><div>Mila Yovovich</div><div class="new_message_icon">+1</div></div>
    <div class="friend"> <p class="plus">+</p>  <img class="icons" ng-src="../../images/profile_foto.jpg"/><div>Mila Yovovich</div><div class="new_message_icon">+1</div></div>
    <div class="friend"> <p class="plus">+</p>  <img class="icons" ng-src="../../images/profile_foto.jpg"/><div>Mila Yovovich</div><div class="new_message_icon">+1</div></div>
    <div class="friend"> <p class="plus">+</p>  <img class="icons" ng-src="../../images/profile_foto.jpg"/><div>Mila Yovovich</div><div class="new_message_icon">+1</div></div>
    <div class="friend"> <p class="plus">+</p>  <img class="icons" ng-src="../../images/profile_foto.jpg"/><div>Mila Yovovich</div><div class="new_message_icon">+1</div></div>
    <div class="friend"> <p class="plus">+</p>  <img class="icons" ng-src="../../images/profile_foto.jpg"/><div>Mila Yovovich</div><div class="new_message_icon">+1</div></div>
    <div class="friend"> <p class="plus">+</p>  <img class="icons" ng-src="../../images/profile_foto.jpg"/><div>Mila Yovovich</div><div class="new_message_icon">+1</div></div>
    <div class="friend"> <p class="plus">+</p>  <img class="icons" ng-src="../../images/profile_foto.jpg"/><div>Mila Yovovich</div><div class="new_message_icon">+1</div></div>

  </div>
  <div id="new_chat"><button>Create group</button></div>
</div>
